<table class='table'>
  <tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <% if @user == current_user %>
    <%= link_to '',edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user}" %>
  <% else %>
    <%=link_to user_relationships_path(@user), method: :delete do %>
      <button type="button" class="btn btn btn-danger">フォロー解除</button>
      <% end %>
    <%=link_to user_relationships_path(@user), method: :post do %>
      <button type="button" class="btn btn btn-primary">フォロー</button>
      <% end %>
  <% end %>
</div>